.background{
    text-align: center;
    color:skyblue;
    padding:100px;
    background-color: rgb(238, 229, 217);
    font-weight: bolder; 
    font-family: 'Times New Roman', Times, serif;
}